{% extends 'base.html.twig' %}

{% block body %}
<nav class="navbar navbar-expand-lg data-bs-theme" style=" background-color: #27252A;" data-bs-theme="dark">
    <div class="container-fluid">

      <a class="navbar-brand" href="{{ path('accueil') }}"><img src="{{ asset('styles/Image/Logo Site.webp') }}" alt="Logo" class="Logo" /></a>

      <button class="navbar-toggler btn-light" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('accueil') }}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ path('fiches_index')}}">Index_Fiches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ path('utilisateurs_index')}}">Index_Utilisateurs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ path('commentaires_index')}}">Index_commentaires</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container mt-5">
    <h1 class="mb-4">Liste des commentaires</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>FicheContenu</th>
                <th>Utilisateur</th>
                <th>Date</th>
                <th>Contenu</th>
            </tr>
        </thead>
        <tbody>
            {% for commentaire in commentaires %}
                <tr>
                    <td>{{ commentaire.id }}</td>
                    <td>{{ commentaire.FicheContenu.id}}</td>
                    <td>{{ commentaire.Utilisateur.Pseudo }}</td>
                    <td>{{ commentaire.Date ? commentaire.Date|date('d-m-Y') : ''   }}</td>
                    <td>{{ commentaire.Contenu }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('fiche_show', {id : commentaire.FicheContenu.Fiche.id} ) }}"> Show</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Aucun commentaire trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
