{% extends 'base.html.twig' %}

{% block title %}Index Admin Fiches{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg data-bs-theme" style=" background-color: #27252A;" data-bs-theme="dark">
    <div class="container-fluid">

      <a class="navbar-brand" href="{{ path('accueil') }}"><img src="{{ asset('styles/Image/LogoSite.webp') }}" alt="Logo" class="Logo" /></a>

      <button class="navbar-toggler btn-light" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('accueil') }}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ path('utilisateurs_index') }}">Index Utilisateurs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ path('fiches_index') }}">Index Fiches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ path('commentaires_index') }}">Index Commentaires</a>
          </li>
        </ul>
        <div>
          <ul class="d-flex flex-row nav col-12  align-items-center justify-content-center">
              {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('utilisateurs_index') }}" class="nav-link px-2 text-white">Espace Admin</a>
              {% endif %}
              {% if app.user  %}
                <img src="{{ asset(app.user.PhotoProfil) }}" alt="Logo" class="Logo" />
                <a href="{{ path('utilisateurs_profile') }}" class="nav-link px-2 text-white">{{ app.user.pseudo }}</a>
                <a href="{{ path('app_logout') }}" class="nav-link border-1 border-white">
                  <img src="{{ asset("styles/Image/logout.png") }}" alt="logo de déconnetion" width = "20px" class="ms-2"/>
                </a>
                
              {% else %}
                <img src="{{ asset('styles/Image/Avatar_Guest.png') }}" alt="Logo" class="Logo" />
                <a href="{{ path('app_login') }}" class="nav-link px-2 text-white">Inscription\Connexion</a>
              {% endif %}

          </ul>
        </div>
      </div>
    </div>
  </nav>
<form action="{{ path('liste_fiches') }}" method='post'>
  <div class="TitreExo mb-4">
      <h1>Liste des exercices :</h1>
  </div>

  <div class="Barre text-center">
      <input type="text" class="form-control" name="recherche" id="recherche" placeholder="Rechercher une fiche"
        value="{{ recherche ?? '' }}" />
      <button type="submit" class="btn btn-secondary btn-sm btnRecherche">Rechercher</button>
  </div>
  
  <div class="filtre m-3">

    <div class="form-group d-flex  align-items-center ">
      <label class="labelliste" for="filtreCategorie">Filtre Par Categorie</label>
      <select name="filtreCategorie" id="filtreCategorie">
        <option value=0>-- Toutes les catégories --</option>
        {% for categorie in categories %}
          <option value="{{ categorie.id }}" {% if selectCategorie == categorie.id %}selected{% endif %}>
            {{ categorie.nom }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group d-flex  align-items-center">
      <label class="labelliste" for="filtreType">Types</label>
      <select name="filtreType" id="filtreType">
        <option value=0>-- Tout les types --</option>
        {% for type in types %}
          <option value="{{ type.id }}" {% if selectType == type.id %}selected{% endif %}>
            {{ type.nom }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group d-flex  align-items-center">
      <label class="labelliste" for="filtreDifficulte">Difficulté</label>
      <select name="filtreDifficulte" id="filtreDifficulte">
        <option value=0 >-- Toutes les difficultés --</option>
        {% for difficulte in difficultes %}
          <option value="{{ difficulte.id }}" {% if selectDifficulte == difficulte.id %}selected{% endif %}>
            {{ difficulte.nom }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="d-flex align-items-center">
      <button type="submit" class="btn btn-light btn-m">Rechercher</button>
      <a href="{{ path('liste_fiches') }}" class="btn btn-secondary bg-secondary btn-m">X</a>
    </div>
  </div>
</form>
  <div class="tabreposiv">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Photo</th>
                <th>Description</th>
                <th>Catégorie</th>
                <th>Type</th>
                <th>Difficulté</th>
                <th>Créateur</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for fiche in fiches %}
                <tr>
                    <td>{{ fiche.id }}</td>
                    <td>{{ fiche.Nom }}</td>
                    <td>{{ fiche.Photo }}</td>
                    <td>{{ fiche.Description }}</td>
                    <td>{{ fiche.Categorie.nom }}</td>
                    <td>{{ fiche.Type.nom }}</td>
                    <td>{{ fiche.Difficulte.nom }}</td>
                    <td>{{ fiche.Utilisateur.Pseudo }}</td>
                    <td>
                        <a href="{{ path('fiche_show', {id: fiche.id}) }}" class="btn btn-primary btn-sm">Show</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('fiches_edit', {id: fiche.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                        <form action="{{ path('fiches_delete', {id: fiche.id}) }}" method="post" style="display: inline;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fiche.id) }}">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">Supprimer</button>
                        </form>
                        {% endif %}
                        
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Aucun fiches trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('fiches_newPreview') }}" class="btn btn-secondary mt-3">Crée une nouvelle fiche</a>
</div>
{% endblock %}

