{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg data-bs-theme" style=" background-color: #27252A;" data-bs-theme="dark">
    <div class="container-fluid">

      <a class="navbar-brand" href="{{ path('accueil') }}"><img src="{{ asset('styles/Image/Logo Site.webp') }}" alt="Logo" class="Logo" /></a>

      <button class="navbar-toggler btn-light" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('accueil') }}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ path('liste_fiches') }}">Liste des exercices</a>
          </li>
        </ul>
        <div>
          <ul class="d-flex flex-row nav col-12  align-items-center justify-content-center">
              {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('utilisateurs_index') }}" class="nav-link px-2 text-white">Espace Admin</a>
              {% endif %}
              {% if app.user  %}
                <img src="{{ asset(app.user.PhotoProfil) }}" alt="Logo" class="Logo" />
                <a href="{{ path('utilisateurs_profile') }}" class="nav-link px-2 text-white">{{ app.user.pseudo }}</a>
                <a href="{{ path('app_logout') }}" class="nav-link border-1 border-white">
                  <img src="{{ asset("styles/Image/logout.png") }}" alt="logo de déconnetion" width = "20px" class="ms-2"/>
                </a>
                
              {% else %}
                <img src="{{ asset('styles/Image/Avatar_Guest.png') }}" alt="Logo" class="Logo" />
                <a href="{{ path('app_login') }}" class="nav-link px-2 text-white">Inscription\Connexion</a>
              {% endif %}

          </ul>
        </div>
      </div>
    </div>
  </nav>

  <header class="baniere">

    <form action="{{ path('liste_fiches') }}" method='post' class="Barre">
      <div class=" text-center d-flex">
        <input type="text" class="form-control" name="recherche" id="recherche" placeholder="Rechercher une fiche"
          value="{{ recherche ?? '' }}" />
        <button type="submit" class="btn btn-secondary btn-sm ms-2">Rechercher</button>
      </div>
    </form>

  </header>

  <main>
    <section>

      <div class="TitreExo">
        <h1>Dernier exercices ajoutée </h1>
      </div>
      
      <div class="container text-center d-flex flex-wrap " style="margin-top: 100px;">

        <div class="row">
        {% for fiche in fiches %}
          <article class="col mt-2">
            <a href="{{ path('fiche_show',{'id' : fiche.id}) }}">
              <div class="card" id="Fiche">
                <img src="{{ fiche.Photo }}" class="Fiche-Image" height="238">
                <div class="Body-Fiche">
                  <div class="Titre-Fiche">
                    <h5>{{ fiche.Nom }}</h5>
                  </div>
                  <p style="text-align: center;">{{ fiche.Description }}</p>
                  <div class="Info">

                    <div class="Type">
                      <div class="DivImage">
                        <img src="{{ asset('styles/Image/Barre.jpg') }}" alt="" class="Image">
                      </div>
                      <div class="TypeText">
                        <p id="Type">{{ fiche.Type.nom }}</p>
                      </div>
                    </div>

                    <div class="Type">
                      <div class="DivImage">
                        <img src="{{ asset('styles/Image/Pec.png') }}" alt="" class="Image">
                      </div>
                      <div class="TypeText">
                        <p id="Type" style="font-size: x-small;">{{ fiche.Categorie.nom }}</p>
                      </div>
                    </div>

                    <div class="Type">
                      <div class="DivImage">
                        <img src="{{ asset('styles/Image/Biceps.png') }}" alt="" class="Image">
                      </div>
                      <div class="TypeText">
                        <p id="Type">{{ fiche.Difficulte.nom }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </article>
        {% endfor %} 

        <section>
          <div class="row Voir-Plus" style="margin-top : 50px;">
            <!--Summary et la balise pour réveler des information en l'ocurrance on revele les autres article-->
            <article class="col ">
              <div class="Voir-Plus-Fiche">

              </div>
            </article>
            <article class="col">
              <div class="Voir-Plus-Fiche">

              </div>
            </article>
            <article class="col">
              <div class="Voir-Plus-Fiche">

              </div>
            </article>
          </div>
          <form action="{{ path('liste_fiches') }}">
            <button class="bouton-voir-plus"> &darr; Voir plus</button>
          </form>
        </section>
      </div>
    </section>
  </main>

  <footer>
    <div class="FooterForm">
      <div class="TitreForm">
        <h1>Contactez-Nous</h1>
      </div>

      <div class="Contact">

        <form action="">

          <div class="row justify-content-center mb-3">
            <div class=" col-2">
              <label for="Name" class="form-label">Nom :</label>
            </div>
            <div class="col-4">
              <input type="text" class="form-control" id="Name" placeholder="Nom">
            </div>
            <div class="col-2">
              <label for="Surname" class="form-label">Prenom :</label>
            </div>
            <div class="col-4">
              <input type="text" class="form-control" id="Surname" placeholder="Prenom">
            </div>
          </div>

          <div class="row justify-content-center mb-3">
            <div class=" col-2">
              <label for="Email" class="form-label">Email :</label>
            </div>
            <div class="col-10">
              <input type="email" class="form-control" id="Email" placeholder="name@example.com">
            </div>
          </div>

          <div class="text-center m-0">
            <label for="Commentaire" class="form-label">Commentaire :</label>
            <textarea class="form-control" id="Commentaire" rows="3"></textarea>
          </div>
        </form>
        <button type="submit" class="btn btn-outline-light m-3 w-25">Envoyer</button>
      </div>
    </div>
    <div class="FooterNav">ù
      <div class="FootLink">
        © 2024 Wikout
      </div>
      <div class="FootLink">
        <a href="">Confidentialité et cookies</a>
      </div>
      <div class="FootLink">
        <a href="">Conditions d’utilisation</a>
      </div>
    </div>
  </footer>
{% endblock %}
